/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway';
	background-color: #ABE188;
}
.imagen{
	width: 350px;
   height: 350px;
   display: block;
   background:url(la_img.png) center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#titulo{
	text-align: right;
	color: white;
	margin:0 auto;
	background-color: #F78E69;
	padding-right: 30px;
	font-size: 40px
}
#subtitulo{
	text-align: right;
	color: white;
	margin:0 auto;
	background-color: #F78E69;
	padding-right: 30px;
	font-size: 30px
}
#primera-img{
    margin: 0;
    padding:0;
    text-align: center;
}
.color{
	margin-top: 30px;
	width: auto;
    margin: 40px;
	padding:0 auto;
    background-color: #F78E69;
    text-align: center;
}
/*#parrafo{
	
	position: center;
	background-color:#F78E69; 
	width: 600px;
	height: 200px;
	align-items: center;
}*/
.image{
	align-items: center;
	background-color: white;
	color: whitesmoke;
	padding: 10px;
	margin-top: 50px;
	margin-left: 100px;
	margin-bottom: 30px;	
	display: inline-block;
	box-sizing: border-box;
	width: 197px;
}
#decuatro{
	text-align: center;
	color: white;
	font-size: 30px;

}